.user-main-container,
.account-container {
  font-size: 1.4rem;
  margin-top: 5rem;
}

.nav {
  width: 100vw;
  height: 3rem;
  background: var(--bg-light-white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: var(--transition);
  padding: 0 20px;
}

.logo {
  width: 4rem;
  overflow: hidden;
}
.userProfilePhoto {
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.account-nav,
.nav-right,
.nav-left,
.favorites,
.langueges {
  display: flex;
  align-items: center;
}
.account-nav {
  justify-content: space-between;
  max-width: 99vw;
}
.nav-right {
  gap: 4rem;
}
.nav-left {
  gap: 2rem;
}
.nav-left .nav-item:hover {
  cursor: pointer;
}

.account-sidebar {
  margin-top: 4.5rem;
  width: 20rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
}
.account-sidebar div {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.account-sidebar div:hover,
.active {
  background-color: #dcdcdc;
}
.account-sidebar .item {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main-container h3 {
  margin-bottom: 4rem;
}

.account-main {
  margin-top: 5rem;
  margin-left: 23rem;
  padding: 2rem;
  font-size: 2rem;
}
.user-details {
  border: 1px #2321212b solid;
  padding: 0 2rem;
}
.detail-item {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #2321212b solid;
}
.detail-item.e-mail {
  border: none;
}
.detail-item.username,
.detail-item.e-mail {
  justify-content: start;
  gap: 30%;
}
.detail-item span {
  font-size: 1.6rem;
}
.e-mail p {
  margin-right: 5rem;
}
.main-container .btn {
  color: var(--primary-color);
}
.popup {
  font-size: 1rem;
  width: 35rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.popup h3 {
  font-size: 2rem;
}
.popup input {
  width: 100%;
  font-size: 1.8rem;
  padding: 5px 0;
  border: none;
  border-bottom: 1px #000 solid;
}
.input-content {
  position: relative;
}
.eye-icons {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  bottom: 5px;
}
