.book-hover:hover {
  box-shadow: 0px 0px 6px 0px rgb(180, 178, 178);
}

.grid-display {
  position: relative;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-gap: 20px;
  max-width: 98vw;
}

.grid-item {
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 0 10px;
  max-height: 300px;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
.grid-item img {
  max-width: 100%;
  margin: auto;
  min-height: 65%;
  max-height: 65%;
}
.grid-item .book-detail {
  text-align: right;
}
.book-detail{
  font-size: 13px;
}
.grid-item .book-owner {
  position: absolute;
  bottom: -3px;
  border: 1px solid rgba(128, 128, 128, 0.058);
  left: -15px;
  width: 60%;
  display: flex;
  padding: 5px;
  padding-right: 0;
  border-radius: 0 5px 0 0;
}

.book-owner img {
  text-align: left;
  position: relative;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 50%;
  object-fit: cover;
  width: 25px;
  aspect-ratio: 1;
}
.grid-item .book-owner div {
  cursor: pointer;
  transform: translateX(-7%);
  text-align: left;
  margin: auto 0;
  padding: 1px 5px;
}

.book-owner div .btn-primary {
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
}
.book-owner{
  font-size: 12px;
}
.list-view {
  margin: 20px;
}

.list-item {
  display: flex;
  border: 1px solid #ddd;
  background-color: rgb(250, 250, 250);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  max-height: 90px;
}

.list-item img {
  max-width: 80px;
  max-height: 100%;
  margin-right: 10px;
}
.list-item .book-owner {
  bottom: -3px;
  position: relative;
  display: flex;
  padding: 5px;
  padding-top: 0px;
}
.list-item .book-owner img {
  width: 25px;
  height: 25px;
}
.list-item .book-owner .btn-primary {
  padding: 1px 3px;
}

.book-detail .book-title {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
.list-item .book-owner > div {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.category-container{
  font-size: 12px;
}
.category-container h2{
  margin: 10px;
}
.top-category {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 50px;
  max-width: 98vw;
}
.category-item {
  border-radius: 20px;
  background-color:var(--bg-light-white);
  padding: 20px;
}
.category-item h1 {
  text-align: center;
  border-bottom: 1px solid #333;
}
.top-category .list-item {
  max-height: 200px;
}
.top-category .list-view {
  margin: 0;
}

.category-container{
  width: 98%;
  margin: auto;
}
/* Responsive grid with media query */
@media screen and (max-width: 1200px) {
  .grid-display {
    margin: 5px;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 5px;
  }
}

@media screen and (max-width: 768px) {
  /* .book-detail .book-title {
    font-size: 16px;
  }
  .book-detail {
    font-size: 13px;
  } */
  .list-item .book-owner {
    width: 100%;
  }
  .list-item .book-owner > div {
    font-size: small;
    display: block;
    flex-wrap: nowrap;
    padding: 0;
  }
  .book-owner .btn-primary {
    display: inline-flex;
    margin-left: 2px;
    padding: 10px;
  }
  .grid-display {
    margin: 5px;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 5px;
  }

  .grid-item .book-owner {
    margin: 0;
    margin-left: 10px;
    transform: translateX(-5%);
  }
  .grid-item .book-owner div {
    transform: translateX(-5%);
    /* text-align: left;
    font-size: 15px; */
    padding: 1px 5px;
  }
}
@media screen and (max-width: 400px) {
  .grid-display {
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  }
}
