.right-sideBar {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px,
    rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;
  z-index: 1300;
  position: fixed;
  top: 0px;
  outline: 0px;
  right: 0px;
  width: 320px;
}
.right-sideBar .profile-header {
  padding: 10px;
  align-items: center;
  display: flex;
  box-shadow: 0px 0px 6px 2px rgba(128, 128, 128, 0.432);
}

.right-sideBar .profile-header {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  position: relative;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  border-color: rgba(12, 18, 28, 0.12);
  border-style: solid;
  border-width: 0px 0px 1px;
  padding-left: 4px;
  cursor: pointer;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--bg-light-white);
}

.right-sideBar .profile-header img {
  max-width: 60px;
  border-radius: 50%;
  margin-right: 5px;
}
.right-sideBar .profile-header img:hover {
  box-shadow: 0 0 10px 4px rgba(128, 128, 128, 0.247);
}
.right-sideBar .icon-exit {
  position: absolute;
  right: 3%;
  font-size: 2.5rem;
  top: 0;
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
  z-index: 12;
}
.right-sideBar .icon-exit:hover {
  color: red;
  background-color: rgb(221, 221, 221);
}

.right-sideBar ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.right-sideBar ul li {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 10px 16px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.right-sideBar ul li:hover {
  background-color: var(--bg-light-white);
}
.right-sideBar ul .icon {
  padding: 10px 10px;
  font-size: 2rem;
}

.user-main-container {
  display: flex;
  margin: auto;
  width: 90%;
  text-align: center;
  overflow-x: hidden;
}
.user-main-container .main {
  width: 100%;
}

.left-user-side-bar {
  border-right: 1px solid rgba(12, 18, 28, 0.12);
  width: 70px;
  background-color: var(--bg-light-white);
  min-width: 70px;
  color: #1a1a1a;
  position: fixed;
  left: 0;
  height: 100vh;
}

.left-user-side-bar ul {
  width: 100%;
  margin: auto;
  margin-top: 0;
}
.left-user-side-bar ul .bar-item {
  padding: 7px 16px;
  margin-bottom: 9px;
  display: block;
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-size: 1.3rem;
}

.left-user-side-bar ul .bar-item .icon {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.left-user-side-bar ul .bar-item:hover {
  background-color: var(--bg-light-white);
  color: black;
}
.left-user-side-bar ul .bar-item.active {
  color: black;
  border-left: 3px solid var(--primary-color);
}
.home-banner {
  width: 100vw;
  overflow: hidden;
  background-image: url("../../../public/images/banner-books.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.home-banner .search-container {
  height: 135px;
  background-color: transparent;
}
.home-banner .search-container .form {
  background-color: #000000b6;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  backdrop-filter: blur(3px);
  margin-top: 60px;
  max-width: 60vw;
  align-items: center;
}
.home-banner .search-container .form form {
  position: relative;
  width: 100%;
}
.home-banner .search-container .form select,
.home-banner .search-container .form input {
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin: 0 5px;
  font-size: 1.6rem;
}


.home-banner .search-container .form input {
  width: 78%;
}

.home-banner .search-container .form .btn {
  margin: 0;
  position: absolute;
  right: 0;
  padding: 6px 10px;
  font-size: 3rem;
  height: 49px;
  border-radius: 0 13px 13px 0;
}
