@import url("./assets/style/login-registration.css");
@import url("./assets/style/loading.css");
@import url("./assets/style/modal.css");
@import url("./assets/style/navBar.css");
@import url("./assets/style/bookDisplayeType.css");
@import url("./assets/style/BookForm.css");
@import url("./assets/style/userHome.css");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: Inter, SF Pro Text, Roboto, Helvetica Neue, Helvetica, Tahoma,
    Arial, PingFang SC, Microsoft YaHei !important;

  background-color: white;
}

:root {
  --primary-hue: 270;
  --primary-color: #646cff;
  --primary-color-lighter: #5066ff;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --bg-light-white: #ececec;
}
a {
  color: var(--color-white);
  transition: var(--transition);
}

.text-muted {
  color: #6c757d;
}
.btn {
  user-select: none;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  margin: 3px;
  font-size: 1.4rem;
  width: fit-content;
  align-items: center;
  gap: 1rem;
  background: var(--color-light);
  color: var(--color-black);
  padding: 0.6rem 2.5rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-2);
  border-radius: 2rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: white;
  background-color: var(--primary-color);
}
.btn-primary:hover {
  background-color: var(--primary-color-lighter);
}
.btn-primary-white {
  color: white;
  background-color: #e74c3c;
}
.btn-primary-white:hover {
  background-color: #e95645;
}

.btn-transparent {
  background: linear-gradient(
    to right,
    transparent 50%,
    var(--accent-color) 50%
  );
  background-size: 200% 100%;
  background-position: 0 0;
  border: 1px solid rgba(0, 0, 0);
  transition: background-position 0.3s, border-color 0.3s, color 0.3s;
  position: relative; /* Ensure the button content is above the gradient */
}

.btn-transparent:hover {
  background-position: 100% 0;
  border: var(--accent-color);
  color: white;
}
.btn-transparent.active {
  background-position: 100%;
  border: var(--accent-color);
  color: white;
}

.btn-danger {
  color: white;
  background-color: var(--color-danger);
}

body {
  background-color: white;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}
