@import url("./assets/style/login-registration.css");
@import url("./assets/style/loading.css");
@import url("./assets/style/modal.css");
@import url("./assets/style/navBar.css");
@import url("./assets/style/bookDisplayeType.css");
@import url("./assets/style/BookForm.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family:
    Inter,
    SF Pro Text,
    Roboto,
    Helvetica Neue,
    Helvetica,
    Tahoma,
    Arial,
    PingFang SC,
    Microsoft YaHei !important;
  max-width: 99vw;
  background-color: white;
}

:root {
  --primary-hue: 270;
  --primary-color: #646cff;
  --primary-color-lighter: #5066ff;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --bg-light-white: #f3f3f3;
  --color-danger: rgb(156, 15, 15);
}
.bg-light-white {
  background-color: var(--bg-light-white);
}

a {
  color: var(--color-white);
  transition: var(--transition);
}

.text-muted {
  color: #6c757d;
}
.btn {
  user-select: none;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  margin: 3px;
  font-size: 14px;
  align-items: center;
  gap: 1rem;
  background: var(--color-light);
  color: var(--color-black);
  padding: 0.6rem 2.5rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-2);
  border-radius: 2rem;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.error-message {
  color: red;
}
.btn-primary {
  border: 1px solid transparent;
  color: white;
  background-color: var(--primary-color);
}
.btn-primary:hover {
  background-color: var(--primary-color-lighter);
}
.btn-primary-white {
  color: white;
  background-color: #e74c3c;
}
.btn-primary-white:hover {
  background-color: #e95645;
}
.btn-inactive {
  background-color: #d6d5d5;
}
.btn-transparent {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid rgba(0, 0, 0);
  cursor: pointer;
}

.btn-transparent:hover {
  color: white;
  background-color: var(--primary-color-lighter);
  border: 1px solid var(--primary-color);
}
.btn-transparent.active {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
}

.btn-danger {
  color: white;
  background-color: var(--color-danger);
}

body {
  background-color: white;
  margin: 0;
}
.landing-pg .banner-bg {
  margin-left: 0;
  left: 0;
}
.top-category .list-view {
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media screen and (min-width: 640) {
  .landing-pg .banner-bg {
    margin-left: 0;
    left: 0;
  }
  .top-category .list-view {
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}
